<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CustomListView"></activity>
        <activity android:name=".ListViewData" />
        <activity android:name=".AlertDialog" />
        <activity android:name=".BottomNavigation" />
        <activity android:name=".GetRequestList" />
        <activity android:name=".SimpleRecyclerView" />
        <activity android:name=".Registration" />
        <activity android:name=".SpinnerList" />
        <activity android:name=".Splash" />
        <activity android:name=".Second" />
        <activity android:name=".VolleyPostRequest" />
        <activity android:name=".PutRequest" />
        <activity android:name=".GetRequest" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>